h1{
    background-image: linear-gradient(rgb(165, 225, 249), rgb(255, 217, 223));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
img{
    width: 1500px;
}